# Build files configuration

# Set host system name
HOST=<Name your host system tupple here, eg. "arm-cortex_a9-linux-gnueabi">

# Use download mirror
DOWNLOAD_MIRROR="http://www.mymirror.com/mysource"

# Make all cross builds depend on cross toolchain
CROSS_DEPENDS=native/crosstool-ng

# Set cross sysroot path
CROSS_SYSROOT="$NATIVE_SYSROOT/$HOST/sysroot"

# Add cross toolchain to build environment
PATH="$NATIVE_SYSROOT/bin:$PATH"
PATH="$NATIVE_SYSROOT/usr/bin:$PATH"

# Set number of parallel make jobs
JOBS=`cat /proc/cpuinfo | grep processor | wc -l`

# Set layers. Left is highest priority
LAYERS=(highPriorityLayer default)

# Pkg-config cross configuration
if [ "$BUILD_TYPE" = "cross" ]; then
   export PKG_CONFIG_DIR=
   export PKG_CONFIG_PATH=
   export PKG_CONFIG_LIBDIR="$CROSS_SYSROOT/usr/lib/pkgconfig"
   export PKG_CONFIG_LIBDIR+=":$CROSS_SYSROOT/usr/share/pkgconfig"
   export PKG_CONFIG_SYSROOT_DIR="$CROSS_SYSROOT"
fi

# Pkg-config native configuration
if [ "$BUILD_TYPE" = "native" ]; then
   export PKG_CONFIG_LIBDIR="$NATIVE_SYSROOT/usr/lib/pkgconfig"
   export PKG_CONFIG_LIBDIR+=":`pkg-config --variable pc_path pkg-config`"
fi

# Helper functions

fix_la_files()
{
   find $1 -name "*.la" -exec sed -i -e "/dependency_libs/s; /usr; `readlink -f $SYSROOT`/usr;g" {} \; \
                        -exec sed -i -e "/libdir/s;'/usr;'`readlink -f $SYSROOT`/usr;g" {} \;
}

check_tool()
{
   type $1 &> /dev/null
   if [ $? != 0 ]; then
      echo -e "\n"
      echo "Failed ($1 is not found)"
      echo "$2"
      exit 1
   fi
}

check_exist()
{
   test -e $1 &> /dev/null
   if [ $? != 0 ]; then
      echo -e "\n"
      echo "Failed ($1 is not found)"
      echo "$2"
      exit 1
   fi
}
